<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.messe">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessE"
        tools:targetApi="31">
        <activity
            android:name=".FoodDemandActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerSpecialRequestActivity"
            android:exported="false" />
        <activity
            android:name=".CheckMenuActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerCheckSalaryActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRequestRecievedActivity"
            android:exported="false" />
        <activity
            android:name=".AdminSellCouponActivity"
            android:exported="false" />
        <activity
            android:name=".AdminManageWorkerActivity"
            android:exported="false" />
        <activity
            android:name=".AdminManageInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".StudentFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".StudentCheckRefundActivity"
            android:exported="false" />
        <activity
            android:name=".StudentSpecialRequestActivity"
            android:exported="false" />
        <activity
            android:name=".StudentMarkAbsenceActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentLoginActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>